#https://github.com/containerd/containerd/blob/main/docs/hosts.md
server = "https://gcr.io"

# 配置镜像从国内镜像源拉取
[host."https://nexus.dev.niuchart.com/repository/docker-group"]
  capabilities = ["pull", "resolve"]

[host."https://gcr.io"]
  capabilities = ["pull", "resolve"]

