#https://github.com/containerd/containerd/blob/main/docs/hosts.md
server = "https://registry.k8s.io"

# 配置镜像从国内镜像源拉取
[host."https://docker.dev.niuchart.com:8082"]
  capabilities = ["pull", "resolve"]

[host."https://registry.k8s.io"]
  capabilities = ["pull", "resolve"]

